.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__body {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: auto;
}

/* Mobile screens */
@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .app__body {
    flex-direction: column;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .app__body {
    flex-direction: row;
  }
}

/* Laptops and desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  .app__body {
    flex-direction: row;
  }
}

/* Large screens (1441px and up) */
@media (min-width: 1441px) {
  .app__body {
    flex-direction: row;
  }
}
